
/* 0D1117 */
/* 30363D */
/* 000000 */
/* FFFFFF */

.NavBar{
    width: 100%;
    height: 14%;
    background-color: #0D1117;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #30363D;
}

/****/

.LeftComponent{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LeftComponent h1{
    width: 100%;
    height: 50%;
    padding-left: 2rem;
    padding-top: 0.7rem;
    font-size: 2rem;
}

.LeftComponent .UserComponent{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start space-around;
    align-items: center;
    padding-left: 2rem;
}

.LeftComponent .UserComponent .ConfigButton{
    background-color: rgb(0, 0, 0);
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid #30363D;
    border-radius: 4px;
}

.LeftComponent .UserComponent .ConfigButton .Icon{
    width: 60%;
    height: 60%;
}

.LeftComponent .UserComponent .UserName{
    font-size: 1rem;
    margin-left: 0.6rem;
}


/*****/

.RightComponent{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.RightComponent button{
    width: 23vw;
    height: 4.5vh;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
}

.RightComponent .MyListsButton{
    background-color: #000000;
    border: 1px solid #30363D;
}

.RightComponent .NewListButton{
    background-color: #28A745;
    font-weight: bold;
}




/* Styles pour le bouton Connexion */
.LoginButton {
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #444d56;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.LoginButton:hover {
    background-color: #444d56;
}

/* Si l'utilisateur est connecté */
.UserName {
    font-size: 1rem;
    margin-left: 0.6rem;
    color: white;
}










/**** CONFIG MENU ****/




.config-button-container {
    position: relative; /* Assure-toi que le conteneur parent est relatif */
}

.config-menu {
    position: absolute; /* Positionnement absolu pour le menu */
    top: 15px; /* Positionne le menu juste en dessous du bouton */
    right: -30px; /* Aligne à droite du bouton */
    background-color: #1C2128; /* Couleur de fond du menu */
    border: 1px solid #30363D; /* Bordure du menu */
    border-radius: 4px; /* Arrondir les coins */
    box-shadow: 0 14px 10px 1px rgba(0, 0, 0, 0.9); /* Ombre pour le menu */
    z-index: 1000; /* Assure-toi que le menu est au-dessus des autres éléments */
    width: 6rem; /* Augmenter légèrement la largeur du menu */
}

.config-item {
    width: 100%; /* Largeur complète */
    padding: 10px; /* Espacement interne */
    border: none; /* Pas de bordure */
    background-color: #30363D; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur en forme de main */
    text-align: left; /* Alignement du texte à gauche */
    font-size: 1rem; /* Taille de la police par défaut */
}

.config-item:hover {
    background-color: #444d56; /* Changement de couleur au survol */
}

.logout-button {
    color: #D9534F; /* Un rouge sombre et sobre */
    font-weight: bold; /* Mettre le texte en gras pour le rendre plus visible */
}
