.UnitDisplay{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Unitsheader{
    display: flex;
    justify-content: space-between;
    height: 6%;
    width: 100%;
}

.BackButton {
    background-color: transparent;
    border: none;
    color: #cccccc;
    font-size: 1.2rem;
    cursor: pointer;
}


.UnitDisplay .UnitNames{
    background-color: #0D1117;
    border: 1px solid #30363D;
    width: 60%;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.UnitConfig{
    background-color: transparent;
    border: none;
    color: #cccccc;
    font-size: 1.2rem;
    cursor: pointer;
}


/****** STATS *****/


/* StatsContainer'>
                    <div className='StatsColumn'>
                        <div className='StatsName */


.StatsContainer{
    width:100%;
    height: 6rem;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #30363D;
    border-left: 0px;
    border-right: 0px;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}


.StatsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.StatsName{
    margin: 1rem;
    font-size: 1rem;
}

.StatsCheck{
    background-color: #0D1117;
    border: 1px solid #30363D;
    border-radius: 4px 3px 13px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 0.8rem;
    padding: 1.2rem;
}










/***** WEAPONS ****/




.Weapons{
    width: 100%;
    background-color: #0D1117;
    border: 1px solid #30363D;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-top:1rem;
    margin-bottom: 1rem;
}


.WeaponName{
    background-color: black;
    border-bottom: 1px solid #30363D;
    border-right: 1px solid #30363D;
    border-radius: 6px 0px 0px 0px;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.WeaponStatsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.WeaponStatsName{
    width: 100%;
    margin-bottom: 0.6rem;
}

.WeaponStatsCheck{


}


.WeaponAbilities{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.WeaponAbility{
    list-style: none;
    margin: 0.5rem;
    margin-top: 1rem;
}






/********* ABILITIES ****/

.Abilities{
    width: 100%;
    background-color: #0D1117;
    border: 1px solid #30363D;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-top:1rem;
    margin-bottom: 1rem;
}


.AbilityName{
    background-color: black;
    border-bottom: 1px solid #30363D;
    border-right: 1px solid #30363D;
    border-radius: 6px 0px 0px 0px;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.AbilityDescription{
    margin: 1rem;
}





.KeyWords ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.KeyWords ul li{
    list-style: none;
    margin: 0.2rem;
}